.WeekForecast {
  text-align: center;
}

.Day {
  font-weight: bold;
}

.Paper {
  padding: 10px;
  height: 225px;
  width: 155px;
}

.Paper:hover {
  background-color: rgb(250, 250, 250);
}

.WeatherIcon {
  padding-top: 20px;
}

.Row {
  padding: 5px 0px;
}

.Hours {
  list-style: none;
}

.Header {
  margin-bottom: 10px;
}

#cityState {
  text-align: right;
  padding: 20px 20px 0px 0px;
}

.Button {
  line-height: 60px;
}